body, input, button, select, textarea { font: 14px/1.5 'Microsoft Yahei', 'Simsun'; color: #333; }
a:hover, a.link_black:hover, a.link_white:hover, a.link_blue:hover, a.link_black:hover { color: #ee1c25; }
.link, .link a, a.link { color: #ee1c25; }
.header .nav{margin:0px;text-align:center;}
.header .nav a:hover{ text-decoration:none;color:#333!important;}
.header .nav h3{font-weight:normal;}
.header .nav,.header .nav dd h3 a{height:95px;line-height:95px;}
.header .nav .on a{background:#ee1c25;color:#fff!important;}
.header .nav dd h3 a{padding:0;font-size:16px;width:82px;}
.header .nav dd h3 a:hover.header .nav dd.on h3 a {color:#fff!important;}
.header .nav dd ul{top:95px;}
.header .nav dd ul{border:none;font-size:14px;width:82px;}
.header .nav dd ul li{ line-height:40px;border:none;}
.header .nav dd ul li a{padding:0;}
.header .nav dd ul li a:hover { background: #cb0d15; color: #fff; }
.logo{width:300px;}
.index-part-1{background:#fff;}
.index-part-2,.index-part-4{background:#f6f6f6;}
.index-part-1,.index-part-2,.index-part-3,.index-part-4{padding:40px 0;}
.indexGoods{ height:auto;}
.indexGoods .scrollBox .list li{border:none;padding:0;margin:15px 19px;background:none;}
.goodsImage{margin:0;padding:0;background:none;}
.goodsImage ul li,.indexGoods .scrollBox .list li{width:202px; }
.indexGoods .scrollBox .list li span{width:202px; height:auto; line-height:1.5;margin-top:10px;font-size:14px;}
.goodsImage ul li img,.indexGoods .scrollBox .list li img{ width:200px; height:200px;border:1px solid #ddd;}
.index .con{ height:auto;padding:0;}
.index-more{margin-top:15px;text-align:center;}
.index-more a{width: 128px; display:block; text-align:center; margin:auto;border-radius: 3px;color: #333;text-decoration: none;transition: 0.2s ease-out;-moz-transition: 0.2s ease-out;-ms-transition: 0.2s ease-out;-webkit-transition: 0.2s ease-out;-o-transition: 0.2s ease-out;
background-color: #FFFFFF;border: 1px solid #CCC;line-height: 30px;height: 30px;}
.index-more a:hover{ background:#ee1c25!important; color:#fff;border: 1px solid #ee1c25;}
.index-more .move{background:none!important;padding:0!important;}
.col{border:none; text-align:center;height:auto; line-height:1.5;margin:0;padding:0;}
.col h2{float:none;height:auto; line-height:1.4;font-size:35px;text-shadow:none;color:#333;}
.col h2 em{ display:block; font-family:Arial,Microsoft Yahei;}
.index .module{min-height:auto;background:none;padding:0;}
.index .module .moduleBox{float:none;margin:0;}
.index .module .post,.index .module .post .con ul,.index .module .post .con ul li{width:auto;min-height:auto;}
.index .module .post .con ul li{height:auto;float:left;width:430px; background-position:0 8px;background:none;padding:0;margin:15px 25px;}
.index .module .post .con ul li h3{font-size:18px;margin-bottom:5px;}
.index .module .post .con ul li .desc{line-height:1.8;height:75px;overflow:hidden;}
.index .module .post .con ul li .desc a{color:#999;}
.index .module .post .con ul li .desc a:hover{color:#ee1c25;}
.date, .author{margin:0; float:none; text-align:left;font-size:18px; font-family:Arial,Microsoft Yahei;margin-bottom:4px;}
.index-about .con{margin:20px auto 0;}
.index-about .con .img{text-align:center;}
.index-about .con p{margin:20px 0;}
.siteInfo{ height:auto;border-top:none;padding-top:0;background:none;}
.siteInfo .box{border:none;padding:0;}
.siteInfo .action p{margin-bottom:15px; line-height:25px;}
.siteInfo .message{float:right;width:500px;}
.siteInfo .message dt{float:left;width:50px; line-height:37px;}
.siteInfo .message dd{margin:15px 0;}
.siteInfo .message input[type="text"]{border:1px solid #ccc; width:350px;line-height:35px; text-indent:5px;padding:0;}
.siteInfo .message textarea{border:1px solid #ccc; width:350px;height:100px;text-indent:5px;padding:0;}
.siteInfo .message input[type="button"]{margin-left:50px;width:120px;cursor:pointer;border-radius: 3px;color: #333;text-decoration: none;transition: 0.2s ease-out;-moz-transition: 0.2s ease-out;-ms-transition: 0.2s ease-out;-webkit-transition: 0.2s ease-out;-o-transition: 0.2s ease-out;
background-color: #f1f1f1;border: 1px solid #CCC;line-height: 38px;height: 38px;}
.siteInfo .message input[type="button"]:hover{background:#ee1c25; color:#fff;border: 1px solid #ee1c25;}
.listBox .title li{ height:auto;padding:20px 0;border-bottom:1px dotted #ccc;}
.listBox .title li h2 a{line-height: 25px;font-size: 18px;}
.listBox .title li h2 a:hover,.listBox .title li .desc a:hover{color:#ee1c25;}
.listBox .title li .y{margin-left:0;}
.listBox .title li .date{font-size: 14px;line-height:35px;}
.listBox .title li .desc a{color:#999;}
.goods .catalog{ display:none;}
.goods .listBox ul li,.goods .listBox .b_img{width:202px;height:auto;border:none;}
.goods .listBox ul li{margin:15px 19px;}
.goods .listBox .b_img img{width:200px;height:200px;}
.goods .listBox .b_img img{border:1px solid #ddd;}
.goods .listBox ul li h2{padding:0; position:relative;width:202px;height:auto;line-height:1.5;margin-top:5px;}
.banner {height:567px;}
.banner .bd li { height: 567px;}
.banner .bd li a {height: 567px; }
.topDesc{background: url(../images/bannerly1.jpg) repeat-x center top;height:152px;}
.topDesc .desc{display:none;}

/* 产品 */
.product{
	width: 1004px;
	clear: both;
	overflow: hidden;
}
.product h1{ line-height:50px; font-size:30px; text-align:center; color:#333; font-weight:bold;}
.product h4{ width:415px; line-height:25px; font-size:14px; color:#999; text-align:center; margin:0 auto 40px auto;}
.product .cplist{
	width: 220px;
	height: 400px;
	float: left;
	margin-top: 0;
	margin-right: 55px;
	margin-bottom: 0;
	margin-left: 55px;
}
.product .cplist .img{
	width: 220px;
	margin: auto;
	height: 195px;
	margin-bottom: 20px;
	transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	text-align: center;
}
.product .cplist .img:hover{ margin-left:10px;}
.product .cplist h2{ text-align:center; font-size:18px; line-height:40px; color:#333; font-weight:bold;}
.product .cplist h4{
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	text-align: left;
	width: 220px;
	text-indent: 2em;
}
.product .cplist a{
	width: 128px; display:block; text-align:center; margin:auto;
	border-radius: 3px;
	color: #666;
	text-decoration: none;
	transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	background-color: #FFFFFF;
	border: 1px solid #CCC;
	line-height: 28px;
	height: 28px;
}
.product .cplist a:Hover{ background:#ee1c25; color:#fff;border: 1px solid #ee1c25;}
.ind-bak{ height:90px; margin:25px 0; position:relative;}
.ind-bak .lin { width:1px; background:#dcdcdc; font-size:1px; height:90px; position:absolute; left:20%; top:0;}
.ind-bak .lin.lin1{ }
.ind-bak .lin.lin2{ left:40%; }
.ind-bak .lin.lin3{ left:60%; }
.ind-bak .lin.lin4{ left:80%; }
.ind-bak li{ float:left; width:20%; *margin-left:-1px; text-align:center;}
.ind-bak li i{margin:0 auto 10px; width:100px; height:65px; display:block;}
.ind-bak li a{ display:block; font-size:15px; text-align:center;}

/* 留言 */
.question dl{}
.question dt{margin-top:15px; line-height:30px;color:#666;}
.question dd{}
.question .inputk{
	width: 330px;
	height: 20px;
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	background: #fff;
	margin: 0px;
	padding-left: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #999;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.question .inputse{
	height: 42px;
	border: #ccc solid 1px;
	border-radius: 2px;
	width: 150px;
	margin-right: 20px;
	font-size: 14px;
	color: #999;
}
.question .inputklr{
	width: 450px;
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	background: #fff;
	color: #999;
	margin: 0px;
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px; height:80px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.question .inputly{border:0px; background:#217fff; padding:0px; margin:0px; float:left; line-height:40px; text-align:center; color:#fff; width:90px; height:40px; cursor:pointer; margin-top:10px; border-radius:2px;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;}
.question .inputly:hover{ background:#2e3138;}
/* 便民平台 */
.jfp_center{ /*width:1004px; */clear:both; overflow:hidden; padding:50px 0;
}

.jfp_content .jfp_center .jfp_ab_content{
	width: 100%;
}
.jfp_content .jfp_center .jfp_ab_content .jfp_ab_left{
	float: left;width: 55%;
	height: auto;
}
.jfp_content .jfp_center .jfp_ab_content .jfp_ab_right{
	float: right;width: 40%;
	height: auto;
	overflow: hidden;
}
.jfp_content .jfp_center .jfp_ab_content .jfp_ab_left .jfp_ab_company{
text-indent: 2em;
font-size: 90%;
color: #999;
}
.jfp_content .jfp_center .jfp_ab_content .jfp_ab_left .jfp_ab_text{
font-size: 90%;
color: #999;
}

.jfp_content .jfp_center .jfp_ab_content .jfp_bm_item{
width:350px;
float: left;
min-height:150px;
height: auto; 
}
.jfp_content .jfp_center .jfp_ab_content .jfp_bm_item .bm_item_left{
float: left;
width: 23%;
height: 100%;
}
.jfp_content .jfp_center .jfp_ab_content .jfp_bm_item .bm_item_left img{
	width: 75%;
}
.jfp_content .jfp_center .jfp_ab_content .jfp_bm_item .bm_item_right{
float: left;
width: 68%;
height: 100%;
margin-left: 2%;
}
.jfp_content .jfp_center .jfp_ab_content .jfp_bm_item .bm_item_right .bm_item_title{
	margin-top:1%;
width: 100%;
text-align: left;
font-size:20px; color:#000;
height: 44px;
line-height: 44px;
}
.jfp_content .jfp_center .jfp_ab_content .jfp_bm_item .bm_item_right .bm_item_content{
width:235px; float:left;
text-align: left;
font-size:90%;
color: #858585;
height: 20px;
line-height: 20px;
}
.jfp_content .jfp_center .jfp_bm_title{
	float: left;width: 100%;text-align: left;font-size:32px; color:#222;line-height:60px;margin: 3% 0;
}



/*浮动客服*/
.ourserverzk{position: fixed;width: 20px;min-height: 20px;left: 3%;bottom: 17%;z-index: 9;}
.ourserverzk a{cursor:pointer; width:25px; text-align:center; height:42px; display:block; background:#b61b2b; color:#fff; text-decoration:none;}
.ourserver{position: fixed;width: 170px;min-height: 200px;left: 3%;bottom: 16%;z-index: 10;}
.ourserver a{cursor:pointer;}
.ourserver .ser_title{width: 120px; line-height:40px;border: 1px solid #E4E4E4;border-radius: 5px;min-height: 40px;background-color: #fff;background-image: url(../images/weixin.gif);background-repeat: no-repeat;background-position: 25px center;font-size: 20px;color: #333;padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 70px;box-shadow:0px 0px 4px #dadada;
-moz-box-shadow:0px 0px 4px #dadada;
-ms-box-shadow:0px 0px 4px #dadada;
-webkit-shadow:0px 0px 4px #dadada;
-o-box-shadow:0px 0px 4px #dadada;}
.ourserver .ser_content{width: 100%;border: 1px solid #E4E4E4;border-radius: 5px;line-height: 40px;padding: 10px;min-height: 100px;background: #fff;margin-top: 6%;overflow: hidden;box-shadow: 0px 0px 4px #dadada;-moz-box-shadow: 0px 0px 4px #dadada;-ms-box-shadow: 0px 0px 4px #dadada;-webkit-shadow: 0px 0px 4px #dadada;-o-box-shadow: 0px 0px 4px #dadada;}
.ourserver .content_title{width: 100%;background: #fff; padding-bottom:10px;padding-left:28px; line-height:1.5; font-size:14px;background: url(../images/tel.gif) no-repeat;background-position: 0 11px;}
.ourserver .content_title img{position: relative;}
.ourserver .content_title p{position: relative;margin-left: 5px;color: #666;}
.ourserver .content_title a{position: relative;margin-left: 5px;color: #666;}
.ourserver .content_code{width: 100%;min-height: 40px;background: #fff;}
.ourserver .content_code img{width: 80%;float: left;margin-left: 10%;}
.ourserver .content_code span{width: 100%;text-align: center;float: left;}